.news {
  margin-left: 16em;
  margin-right: 16em;
}

.newsDetails {
  font-size: small;
}

.newsfeed {
  height: 200px;
  overflow-y: scroll;
}

.font {
  color: white;
}

@media screen and (max-width: 1000px) {
  .news {
    margin-left: 2em;
    margin-right: 2em;
  }
}
